.search-bar {
    position: fixed; /* Or sticky */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: #242424; /* Match the body background */
    z-index: 100; /* Ensure it's above other content */
    box-sizing: border-box; /* Include padding in the width */
}

.search-input{
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #181818; /* A thicker, dark gray border */
}